---
layout: default
title: 'Extreme Lawn Service | Services'
body_class: 'services'
---

{% include components/nav.html %}
<div class="main-container">
	{% include components/interior-hero.html title="Services" %}
  <section id="lawn" class="image-square left">
      <div class="col-md-6 image">
          <div class="background-image-holder">
              <img alt="image" class="background-image" src="/images/landscaping.jpg" />
          </div>
      </div>
      <div class="col-md-6 col-md-offset-1 content">
          <h3>Lawn & Landscape Maintenance</h3>
          <p class="mb0">
              <ol>
	              <li>Mowing – Quality equipment and our expert team can bring an added touch to your lawn.</li>
	              <li>Landscape Maintenance - Pruning shrubs and maintaining your landscape beds can be a dawnting task. We will apply proper techniques to care of your landscape investment.</li>
	              <li>Leaf Removal – leaves can destroy a lawn if left over the winter, Our leaf-vac system can help you remove them from your property.</li>
              </ol>
              <a href="/services/lawn-maintenance">More Images »</a>
          </p>
      </div>
  </section>
  <section id="weed-control" class="image-square right">
      <div class="col-md-6 image">
        <div class="background-image-holder">
            <img alt="image" class="background-image" src="/images/turf/turf1.jpg" />
        </div>
      </div>
      <div class="col-md-6 content">
          <h3>Weed/Pest Control &amp; Fertilization</h3>
          <p class="mb0">
              <ol>
              <li>It is required by the State of TN that a company be licensed, bonded and chartered to apply pesticides and herbicides in any form.  We are proud that this is now one of our service lines and we continue to stay educated and informed on new pests and practices to rid your lawn and landscape of them.</li>
              <li>A proper herbicide and fertilizer program is essential for any well maintained lawn and landscape. Let us create a custom program for your lawn and shrubs today!</li>
              <strong>TN Pesticide Charter #4928</strong>
              </ol>
          </p>
      </div>
  </section>
  <section id="sodding" class="image-square left">
      <div class="col-md-6 image">
          <div class="background-image-holder">
              <img alt="image" class="background-image" src="/images/pro/3.jpg" />
          </div>
      </div>
      <div class="col-md-6 col-md-offset-1 content">
          <h3>Sodding &amp; Overseeding</h3>
          <p class="mb0">
            <ol>
              <li>Preparation & selection of proper topsoil and sod is essential when creating a new lawn or repairing a damaged lawn. Our expertise and proper grading equipment can help in this process.</li>
              <li>An established lawn requires core aeration and over-seeding  each fall with blended seed to stay healthy throughout the year. We always include a starter fertilizer with this process as well to give the soil and seed proper nutrients at just the right time.</li>
            </ol>
            <a href="/services/sodding">More Images »</a>
          </p>
      </div>
  </section>
  <section id="hardscape" class="image-square right">
    <div class="col-md-6 image">
        <div class="background-image-holder">
            <img alt="image" class="background-image" src="/images/slides/9.jpg" />
        </div>
    </div>
    <div class="col-md-6 content">
        <h3>Hardscape Installation</h3>
        <p class="mb0">
          <ol>
            <li>Each property has a unique layout with which retaining walls, paver patios, fire pits, pergolas, etc. can serve as a functional and enjoyable part of the landscape, creating new deminsions and “outdoor rooms”.</li>
            <li>Our experience in hardscapes can create this with your property.</li>
          </ol>
          <a href="/services/hardscape-installation">More Images »</a>
        </p>
    </div>
  </section>
  <section id="lighting" class="image-square left">
      <div class="col-md-6 image">
          <div class="background-image-holder">
              <img alt="image" class="background-image" src="/images/lighting/lighting1.jpg" />
          </div>
      </div>
      <div class="col-md-6 content">
          <h3>Low Voltage Lighting</h3>
          <p class="mb0">
            Lighting can be a functional and asthetic addition to your landscape and includes path lighting, task lighting, back lighting, displaying specimen plants, etc. We can guide you through the process of selecting and installing this component to your landscape.
          </p>
      </div>
  </section>
  <section id="installation" class="image-square right">
      <div class="col-md-6 image">
          <div class="background-image-holder">
              <img alt="image" class="background-image" src="/images/pro/4.jpg" />
          </div>
      </div>
      <div class="col-md-6 content">
          <h3>Landscape Installation</h3>
          <p class="mb0">
              <ol>
                <li>Careful design, selection and installtion of plant material is essential to any landscape.</li>
                <li>Lawn building is also a main component to a lawn that is easy to maintain and enjoy over time, proper execution of drainage as well as soil and turf placement are key to your landscape experience.</li>
                <li>Extreme’s experienced and courteous team can lead you through this process with your next landscaping project.</li>
              </ol>

              <a href="/services/landscape-installation">More Images »</a>
          </p>
      </div>
  </section>
  <section id="walls" class="image-square left">
      <div class="col-md-6 image">
          <div class="background-image-holder">
              <img alt="image" class="background-image" src="/images/rockwall.jpg" />
          </div>
      </div>
      <div class="col-md-6 col-md-offset-1 content">
          <h3>Retaining Walls</h3>
          <p class="mb0">
              Retaining walls can be a funtional and asthetic addition to your property. We can help with the proper selection and installation of these walls.
              <br>
              <br>
              <a href="/services/walls">More Images »</a>
          </p>
      </div>
  </section>
  <section id="irrigation" class="image-square right">
      <div class="col-md-6 image">
          <div class="background-image-holder">
              <img alt="image" class="background-image" src="/images/irrigation/irrigation1.jpg" />
          </div>
      </div>
      <div class="col-md-6 content">
          <h3>Irrigation Installation &amp; Repair</h3>
          <p class="mb0">
              <ol>
                <li>The installation of an irrigation system on your property will protect your investment in your lawn and landscape. Let us help with the design and installation of your system.</li>
                <li>We are also available for any repairs your system may need.</li>
              </ol>
          </p>
      </div>
  </section>
  <section id="erosion" class="image-square left">
    <div class="col-md-6 image">
          <div class="background-image-holder">
              <img alt="image" class="background-image" src="/images/erosion/erosion1.jpg" />
          </div>
      </div>
      <div class="col-md-6 col-md-offset-1 content">
          <h3>Erosion Control &amp; Drainage</h3>
          <p class="mb0">
              <ol>
                <li>Water and wind can be a nuisance to your property if not properly contained.</li>
                <li>We are experienced in controlling and reparing these situations as they arise.</li>
              </ol>

              <a href="/services/erosion">More Images »</a>
          </p>
      </div>
  </section>
  <section id="snow-ice" class="image-square right no-image">
    <div class="col-md-6 image">
        <div class="background-image-holder">
            <img alt="image" class="background-image" src="/images/snow/snow2.jpg" />
        </div>
    </div>
      <div class="col-md-6 content">
          <h3>Snow/Ice Removal</h3>
          <p class="mb0">
              Although our climate does not call for snow often, it is nice to know there is someone there to help you when snow does come our way. Call or e-mail for service or quote.
              <br>
              <br>
              <a href="/services/snow-ice">More Images » </a>
          </p>
      </div>
  </section>

  {% include components/social-footer.html %}
</div>