---
layout: default
title: 'Extreme Lawn Service | Services - Lawn &amp; Landscape Maintenance'
body_class: 'services-slides'
---

{% include components/nav.html %}
<div class="main-container">
	{% include components/interior-hero.html title="Lawn &amp; Landscape Maintenance" link="services" secondTitle="Services" %}
  <section>
    <div class="container">
      <!--end of row-->
      <div class="row">
        <div class="col-sm-12">
          <div class="image-slider slider-all-controls controls-inside">
            <ul class="slides">
              <li>
                <img src="/images/landscaping.jpg" />
              </li>
              <li>
                <img src="/images/slides/landscaping/1.jpg" />
              </li>
              <li>
                <img src="/images/slides/landscaping/2.jpg" />
              </li>
              <li>
                <img src="/images/slides/landscaping/3.jpg" />
              </li>
              <li>
                <img src="/images/slides/landscaping/4.jpg" />
              </li>
              <li>
                <img src="/images/slides/landscaping/5.jpg" />
              </li>
              <li>
                <img src="/images/slides/landscaping/6.jpg" />
              </li>
              <li>
                <img src="/images/landscaping/landscaping2.jpg" />
              </li>
            </ul>
          </div>
          <!--end of image slider-->
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
</section>

{% include components/social-footer.html %}
</div>