---
layout: default
title: 'Extreme Lawn Service | Services - Snow and Ice Removal'
body_class: 'services-slides'
---

{% include components/nav.html %}
<div class="main-container">
	{% include components/interior-hero.html title="Snow &amp; Ice Removal" link="services" secondTitle="Services" %}
  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="image-slider slider-all-controls controls-inside">
            <ul class="slides">
              <li>
                <img src="/images/snow/snow1.jpg" />
              </li>
              <li>
                <img src="/images/snow/snow2.jpg" />
              </li>
              <li>
                <img src="/images/snow/snow3.jpg" />
              </li>
            </ul>
          </div>
          <!--end of image slider-->
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
</section>

{% include components/social-footer.html %}
</div>