<!-- build:js /scripts/application.js -->
<script src="/vendor/js/jquery.min.js"></script>
<script src="/vendor/js/bootstrap.min.js"></script>
<script src="/vendor/js/flickr.js"></script>
<script src="/vendor/js/flexslider.min.js"></script>
<script src="/vendor/js/masonry.min.js"></script>
<script src="/vendor/js/countdown.min.js"></script>
<script src="/vendor/js/smooth-scroll.min.js"></script>
<script src="/vendor/js/parallax.js"></script>
<script src="/scripts/application.js"></script>
<!-- endbuild -->
