<!-- build:css /styles/application.css -->
<link href="/vendor/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="/vendor/css/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
<link href="/vendor/css/flexslider.css" rel="stylesheet" type="text/css" media="all" />
<link href='/vendor/css/google-fonts.css' rel='stylesheet' type='text/css'>
<link href='/vendor/css/google-fonts2.css' rel='stylesheet' type='text/css'>
<link href='/vendor/css/google-fonts3.css' rel='stylesheet' type='text/css'>
<link href="/styles/application.css" rel="stylesheet" type="text/css" media="all" />
<!-- endbuild -->
