---
layout: default
title: 'Extreme Lawn Service | Contact'
body_class: 'contact'
---

{% include components/nav.html %}
<div class="main-container">
	{% include components/interior-hero.html title="Contact Us" %}
	<section>
	  <div class="container">
	    <div class="row">
	      <div class="col-sm-10 col-sm-offset-1">
	        <div class="post-snippet mb64">
	          <hr>
	          <p class="lead">
	            <h3>Phone:
		            <br><a href="tel:+6158283801">615.828.3801</a>
		            <br><a href="tel:+6155060689">615.506.0689</a>
	            </h3>
	            <h4>Email:
	            	<br><a href="mailto:justin@extremelawnservice.com">justin@extremelawnservice.com</a>
	            </h4>
	          </p>
	        </div>
	        <!--end of post snippet-->
	        <hr>
	      </div>
	      <!--end of nine col-->
	    </div>
	    <!--end of container row-->
	  </div>
	  <!--end of container-->
	</section>
	
	{% include components/social-footer.html %}
</div>