---
layout: default
title: 'Extreme Lawn Service | Gallatin, Hendersonville Sumner County Lawn Services and Landscaping'
body_class: 'index'
---

{% include components/nav.html navclass="transparent" %}
<div class="main-container">
	{% include components/hero-img-bg-parallax.html %}

	<section class="image-square right services">
    <div class="col-md-6 image">
      <div class="background-image-holder">
         <img alt="image" class="background-image" src="/images/pro/1.jpg" />
      </div>
    </div>
    <div class="col-md-6 content">
    	<div>
				<h1><i class="icon ti-clipboard icon-sm mr10"></i>Services</h1>
					<h2 class="mb0"><a href="/services#lawn">Lawn &amp; Landscape Maintenance</a></h2>
          <h2 class="mb0"><a href="/services#weed-control">Weed/Pest Control &amp; Fertilization</a></h2>
          <h2 class="mb0"><a href="/services#sodding">Sodding &amp; Overseeding</a></h2>
          <h2 class="mb0"><a href="/services#hardscape">Hardscape Installation</a></h2>
          <h2 class="mb0"><a href="/services#installation">Landscape Installation</a></h2>
          <h2 class="mb0"><a href="/services#lighting">Low Voltage Lighting</a></h2>
          <h2 class="mb0"><a href="/services#walls">Retaining Walls</a></h2>
          <h2 class="mb0"><a href="/services#erosion">Erosion Control</a></h2>
          <h2 class="mb0"><a href="/services#snow-ice">Snow/Ice Removal</a></h2>
			</div>
    </div>
	</section>

	{% include components/testimonial-img-bg-parallax.html %}
	
	<section class="image-square left bg-secondary">
    <div class="col-md-6 image">
      <div class="background-image-holder">
        <img alt="image" class="background-image" src="/images/partners.jpg" />
      </div>
    </div>
    <div class="col-md-6 col-md-offset-1 content">
      <h4>Our Story</h4>
      <p class="lead">Extreme Lawn Service & Landscaping had humble beginnings in 2002 as a small maintenance company with 2 guys that loved the outdoors and plant life.</p>
      <p class="lead">Justin Strong and Kris Schutter both returned to Gallatin after college and putting time into careers that were unfulfilling, decided to partner up to form Extreme Lawn Service and return to what they love...</p>
      <a href="our-story">Read More »</a>
    </div>
	</section>

	{% include components/social-footer.html %}
</div>