---
layout: default
title: 'Extreme Lawn Service | Our Story'
body_class: 'our-story'
---

{% include components/nav.html %}
<div class="main-container">
	{% include components/interior-hero.html title="Our Story" %}
	<section>
	  <div class="container">
	    <div class="row">
	      <div class="col-sm-10 col-sm-offset-1">
	        <div class="post-snippet mb64">
	          <img class="mb24" alt="Post Image" src="/images/our-story.jpg" />
	          <div class="post-title">
	            <h4 class="inline-block">Our Story</h4>
	          </div>
	          <hr>
	          <p class="lead">
	            Extreme Lawn Service &amp; Landscaping had humble beginnings in 2002 as a small maintenance company with 2 guys that loved the outdoors and plant life.
	          </p>
	          <p>
	            Justin Strong and Kris Schutter both returned to Gallatin after college and putting time into careers that were unfulfilling, decided to partner up to form Extreme Lawn Service and return to what they love.  The partners decided that customer service would be the main focus of Extreme Lawn Service &amp; Landscaping. Customer Service continues to be the theme by which Extreme and its staff operate.
	          </p>
	          <p>
	            Justin and Kris have taken their love of the outdoors and loyalty to customers and transformed it into a service that with the help of dedicated staff members, continual training and a sense of pride in workmanship serves Gallatin, Hendersonville and surrounding communities.
	          </p>
	          <p>Extreme is now a fullservice lawn and landscape company serving all areas of the industry including lawn and landscape maintenance, landscape installation, irrigation installation, hardscapes, erosion control and outdoor lighting.</p>
	        </div>
	        <!--end of post snippet-->
	        <hr>
	      </div>
	      <!--end of nine col-->
	    </div>
	    <!--end of container row-->
	  </div>
	  <!--end of container-->
	</section>
	
	{% include components/social-footer.html %}
</div>