---
layout: default
title: 'Extreme Lawn Service | Testimonials'
body_class: 'testimonials'
---

{% include components/nav.html %}
<div class="main-container">
	{% include components/interior-hero.html title="Testimonials" %}
  <section>
      <div class="container">
          <div class="row">
              <div class="col-sm-6">
                  <div class="feature feature-1 boxed">
                      <p>
                          Our school has been a very satisfied customer of Extreme Lawn Service and Landscaping for many years. While each year we accept bids from other services, the bid from Extreme Lawn Service has always been the lowest. Equally important is the quality of their service. Edging around our sidewalks and cleaning grass and leaves off of the sidewalks are always done with great care. We have small children and the workers are always very careful to make sure children are not in the vicinity of their machines. All of the employees have a “helpful can-do” attitude. From time to time we have projects that need to be done that are not specific in our contract. Extreme Lawn Service has always been quick and courteous in responding to us to meet our special needs. 
                      <p>
                      		I am hopeful that Extreme Lawn Service will continue to be our lawn care people for many years to come. If you have specific questions about their services, please feel free to give me a call.
                      </p>
                      <div class="text-center">
                          <h4>Bill Hovenden, Ph.D.,
                               Sumner Academy</h4>
                      </div>
                  </div>
                  <!--end of feature-->
              </div>
              <div class="col-sm-6">
                  <div class="feature feature-1 boxed">
                      <p>
                          I pull in my driveway and notice trimmed shrubs, fresh mulch and a beautifully mowed lawn, that is a gift in itself. The fact that I didn’t have to call to ask that it be done takes the stress and worry out of life. I enjoy the attention and care given to me with the maintenance of my yard; they spoil me. Very professional and at an affordable cost.
                      <p>
                      <div class="text-center">
                          <h4>Kelly L. Coley,
                               Coley &amp; Lyles Insurance Agency</h4>
                      </div>
                  </div>
                  <!--end of feature-->
              </div>
              <div class="col-sm-6">
                  <div class="feature feature-1 boxed">
                      <p>
                          We are new credit union in Hendersonville and opened our doors in May 2012. Justin Strong with Extreme Lawn Service was referred to me by a member of ESCU. I am 100% completely satisfied with Justin and his crew. They are prompt and professional. I would recommend Extreme Lawn Service to any friend or company.
                      <p>
                      <div class="text-center">
                          <h4>Trey Wallace NMLS 719192,
                               Branch Manager Indian Lake, ESCU</h4>
                      </div>
                  </div>
                  <!--end of feature-->
              </div>
              <div class="col-sm-6">
                  <div class="feature feature-1 boxed">
                      <p>
                          Extreme Lawn Service &amp; Landscaping has taken care of our lawn service for over 5 years at our home, and has recently began caring for our business location and rental property. We have found them to be competitive, and very attentive to customer service. Extreme has also done several jobs with Curtis Construction on Landscaping Contracts in the area. All of our experiences we have had with Extreme Lawn Service &amp; Landscaping have been positive &amp; do not hesitate at all in giving them a good recommendation.
                      <p>
                      <div class="text-center">
                          <h4>Charles Curtis,
                               Charles R. Curtis Construction Inc.</h4>
                      </div>
                  </div>
                  <!--end of feature-->
              </div>
              <div class="col-sm-6">
                  <div class="feature feature-1 boxed">
                      <p>
                          I can highly recommend Extreme Lawn Service and Landscaping. They are professional, hard-working, honest, and reasonably priced. I personally like that when I call, I talk directly to Justin Strong, one of the owners. Top notch service but with a small business feel. Extreme Lawn has taken care of our neighborhood for four years and we couldn't be more pleased.
                      <p>
                      <div class="text-center">
                          <h4>Faith Gregory,
                               President, Chesapeake Harbor Homeowner's Association</h4>
                      </div>
                  </div>
                  <!--end of feature-->
              </div>
              <div class="col-sm-6">
                  <div class="feature feature-1 boxed">
                      <p>
                          Last year I had the opportunity to work with Extreme Lawn Service for they were maintaining the subdivision where I live.The job that they did was so much better than what we had experienced the prior years. I would have no problem in recommending them for any job be it residential or business.They are very good at what they do and their work reflects it.
                      <p>
                      <div class="text-center">
                          <h4>Bill Hart,
                               Landcare comm., Windstar Bay subdivision</h4>
                      </div>
                  </div>
                  <!--end of feature-->
              </div>
          </div>
          <!--end of row-->
      </div>
      <!--end of container-->
  </section>

  {% include components/social-footer.html %}
</div>