
<section class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
				<ul class="list-inline social-list mb24">
					<li>
						<a href="tel:+6158283801">615.828.3801</a>
					</li>
					<li>
						<a href="tel:+6155060689">615.506.0689</a>
					</li>
				</ul>
      </div>
      <div class="col-sm-12 text-center footer-address">
        <p>PO Box 8803</p>
        <p>Gallatin, TN 37066</p>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
